<div class="col-sm-4 well well-lg">
  <h3>Buy Shares</h3>
  <p class="text-muted">Buy shares if you think the event will occur. Click the building on the UNIST map to see security list. Drag the securities and click the 'BUY' button. </p>
</div>
