<div class="col-sm-4 well well-lg">
  <h3>Sell Shares</h3>
  <p class="text-muted">Sell shares if you think the event will NOT occur. Click 'Sell' button and drag the securities to sell.</p>
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#share_modal">Sell</button>
</div>
