<% if user_signed_in? %>
<%= render 'securities/building_links' %>
<% provide(:title, "Trade") %>
<div class="row">
  <div class="col-sm-12">
    
    <%= render 'securities/current_prediction_status' %>

    <br />
    <div class="row">
      <div class="col-sm-1"></div>
      <%= render 'securities/buy_securities' %>
      <div class="col-sm-2"></div>
      <%= render 'securities/sell_securities' %>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<% end %>
